<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat room</title>

    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- bootstrap css & js -->

    <link rel="stylesheet" href="vendors/bootstrap-5/css/bootstrap.css">

    <script src="vendors/bootstrap-5/js/bootstrap.bundle.min.js"></script>

    <!-- fontawesome -->

    <link rel="stylesheet" href="vendors/fontawesome/css/all.css">

</head>

<body>
    <header class="header container-fluid bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand navbar-dark bg-dark align-items-center">
                <h1 class="navbar-brand p-0">
                    <i class="fa-brands fa-rocketchat text-light"></i>
                    <span>Chat<span class="fw-bold">Room</span></span>
                </h1>
                <div class="ms-auto">
                    <button class="fw-bold btn btn-light">start chat</button>
                </div>
            </nav>
        </div>
    </header>