* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.elements {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:990px) {
    .elements {
        grid-template-columns: repeat(3,1fr) !important;
    }
}

.name {
    font-weight: bold;
    font-size: 1.2rem;
}

.emoji {
    background-color: black;
    padding: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.icon {
    font-size: 3rem;
}

.code {
    padding: .25rem 1rem;
    background-color: white;
    color: black;
    border-radius: 24px;
}

.addEmojiFrom{
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.addEmojiFrom input{
    padding: 1rem;
}

.addEmojiFrom button{
    background: green;
    color: white;
    font-weight: bold;
    padding: 1rem;
}