<%- include("./includes/header.ejs") %>

<div class="container-fluid">
    <div class="container">
        <div class="entry">
            <form class="enrty-form" action="/enter-chat" method="post">
                <h1 class="text-light">Enter the ChatRoom</h1>
                <input name="name" class="form-control" placeholder="enter by name..." type="text">
                <button class="btn btn-success">enrty</button>
            </form>
        </div>
    </div>
</div>

<%- include("./includes/footer.ejs") %>